body {
    background-color: whitesmoke
}

footer {
    color: rgb(93, 93, 240)
}

a {
    text-decoration: none;
    color: rgb(54, 54, 54)
}

a:hover {
    color: orange
}

section {
    width: 30%;
    background-color: rgb(246, 193, 193);
    border-radius: 1%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
}

h4,
h5 {
    margin: 1rem;
    padding: 5px;
}

.detail-footer {
    display: flex;
}